@font-face {
    font-family: "AppleSDGothicNeoB00";
    src: url(/AppleSDGothicNeoB.ttf);
    font-family: "AppleSDGothicNeoEB00";
    src: url(/AppleSDGothicNeoEB.ttf);
    font-family: "AppleSDGothicNeoH00";
    src: url(/AppleSDGothicNeoH.ttf);
    font-family: "AppleSDGothicNeoL00";
    src: url(/AppleSDGothicNeoL.ttf);
    font-family: "AppleSDGothicNeoM00";
    src: url(/AppleSDGothicNeoM.ttf);
    font-family: "AppleSDGothicNeoR00";
    src: url(/AppleSDGothicNeoR.ttf);
    font-family: "AppleSDGothicNeoSB00";
    src: url(/AppleSDGothicNeoSB.ttf);
    font-family: "AppleSDGothicNeoT00";
    src: url(/AppleSDGothicNeoT.ttf);
    font-family: "AppleSDGothicNeoT00";
    src: url(/AppleSDGothicNeoUL.ttf);
}
*{
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.body {
    position:fixed;
    width:100%;
    height:100%;
    background-color: #ffffff;
    z-index:-5;
    top:0;
    left:0;
}


a{
    text-decoration: none;
}
nav {
    position:fixed;
    top:0;
    width: 100%;
    background-color: #222222;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.47);
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:5;
}
nav img {
    position: absolute;
    width: 47.3%;
}
footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:10%;
    margin:0;
    padding:0;
    background-color:#222222;
    display:flex;
    align-items: center;
}
ul{
    display:flex;
    position:relative;
    width:100%;
    list-style: none;
    margin:0;
    padding:0;
}
li{width:25%;margin:0;padding:0;}
a{
    width:100%;
    display:flex;
    justify-content: center;
}
a img{
    height:66px;
}

.sendform{
	text-align: center;
	height: 9%;
	left:25%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:3;
}


.searchArea{
margin-top:9%;
width: 518px;
height: 48px;
}

.imgbutton{
	margin-left:99%;
	margin-top: -7%;
}

.searching{
width: 500px;
height: 46px;
background-color: #ffffff;
border-style: solid;
border-width: 2px;
border-color:coral;
}

.centerbutton{
    margin-top: 18;
    width: 100%;
	text-align: center;
	 height: 8%;
	left:25%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:3;
}

.left{
background-color: #fbb03b;
width: 129px;
height: 34px;
border: solid 1px #fbb03b;
display:table-cell;
text-align:center;
border-radius: 60px 0px 0px 60px;
}

.right{  
width: 129px;
height: 34px;
	display:table-cell;
text-align:center;
background-color: #ffffff;
border-style: solid;
border-width: 2px;
border-color:coral;
border-radius: 0px 60px 60px 0px;

}

.dddd{
  width: 25px;
  height: 31px;
  -webkit-text-stroke: 1px #aeaeae;
  font-family: TTOmniGothicL;
  font-size: 27px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
  color: #fd367e;
}

.sss{
	color: #FBB03B;
	font-size: 11px;
	text-align: center;
}

.B{
  width: 55px;
  height: 55px;
  border-radius: 2px;
  background-color: var(--warm-grey);

}

.table{
    top:0;
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:5;
}









